* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 22px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
ol {
    list-style: none;
}

input,
textarea {
    outline: none;
    border: none;
}

input {
    &::placeholder {
        color: #d1d1d1;
    }
}

#container {
    height: 100vh;
}

.base {
    &.nav-bar {
        height: 100px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        display: flex;
        align-items: center;
        padding-bottom: env(safe-area-inset-bottom);

        .link-btn {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #d1d1d1;

            .nav-icon {
                height: 46px;
                margin-bottom: 4px;
            }

            &.active {
                color: #70a8f9;
            }
        }
    }

    &.search-box {
        box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
        width: 690px;
        height: 74px;
        border-radius: 4px;
        position: fixed;
        z-index: 9999;
        left: 0;
        right: 0;
        margin: auto;
        top: 20px;
        padding-left: 90px;
        background: #fff url(../images/icons/find.png) no-repeat 34px center /30px 30px;

        .input {
            height: 100%;
            font-size: 30px;
            width: 100%;

            &::placeholder {
                color: #d1d1d1;
            }
        }
    }

    &.right-nav {
        position: fixed;
        right: 0;
        top: 70px;
        z-index: 99999;

        .item {
            width: 86px;
            height: 86px;
            border-radius: 8px;
            background: #fff;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);

            .icon-img {
                width: 38px;
            }

        }
    }
}

.office-index {
    .nav-list {
        .link-btn {
            line-height: 40px;
            display: block;
        }
    }
}

.office-ry {
    .screen-popup {
        background: #fff;
        border-radius: 8px;
        width: 400px;
        height: 300px;
    }

    .msg-box {
        position: fixed;
        right: 0;
        bottom: 30px;
        width: 270px;
        background: #fff;
        border-radius: 4px;
        font-size: 26px;
        color: #333;

        .title-t {
            padding: 22px 0 20px 18px;
        }

        .list {
            padding: 0 30px;

            .item {
                margin-bottom: 30px;
                line-height: 30px;
            }
        }
    }
}

// 人员统计
.screen-ry {
    padding: 20px 30px 0;

    .right-nav {
        top: 0;
    }

    .search-box {
        height: 74px;
        margin-bottom: 20px;

        .input {
            width: 60%;
            height: 100%;
            border-radius: 8px;
            padding-left: 80px;
            box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
            font-size: 30px;
            background: #fff url(../images/icons/find.png) no-repeat 24px center /30px 30px;
        }

        .select-btn {
            display: inline-block;
            height: 100%;
            line-height: 74px;
            font-size: 30px;
            box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
            border-radius: 8px;
            padding: 0 35px;
            margin-left: 15px;
        }
    }

    .table-title {
        text-align: center;
        font-size: 36px;
        margin-bottom: 20px;
    }

    .table-box {
        width: 100%;
        text-align: center;

        th,
        td {
            font-size: 26px;
            width: 25%;
            height: 72px;
            border: 1px solid #f3f5ff;
        }

        th {
            background: #f4f6f7;
        }

        tr {
            &:nth-child(odd) {
                background: #f3f8ff;
            }
        }
    }
}

//实时轨迹
.office-trajectory {
    .top-bar {
        height: 120px;
        background: #fff;
    }

    .list-box {
        .item {
            height: 90px;
            line-height: 90px;
            border-bottom: 1px solid #e7e7e7;

            .link-item {
                font-size: 32px;
                height: 100%;
                display: block;
                padding: 0 30px;
            }
        }
    }
}

//一日一查首页
.check-index {
    .link-btn {
        display: block;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 120px;
        margin: auto;
        font-size: 32px;
        color: #fff;
        text-align: center;
        line-height: 70px;
        width: 200px;
        border-radius: 8px;
        background: rgb(92, 172, 254);
    }
}

//实时雨晴
.real-time{
    .tab{
        background-color: #fff;
        height:82px;
        line-height:82px;
        box-shadow:0px 0px 10px 0px rgba(225,231,240,1); ;
        .tab-item{
            list-style:none;
            display:inline-block;
            text-align:center;
            font-size:32px;
            color:#d1d1d1;
            margin-right: 30px;
            &:last-child{
                margin-right:0; 
            }
            &:first-child{
                padding-left:30px; 
            }
            &.active{
                color: #70a8f9;
            }
            .border-active{
                margin: -10px auto 0;
                width:30px;
                height:2px;
                background:#70a8f9;
                opacity: 0;
                &.active{
                    opacity: 1;
                    }  
            }
            }	
    }
    .products{
        .main-cont { 
            display: block; 
            width:100%;
            overflow: auto;
            .main-time{
                height: 82px;
                line-height: 82px;
                text-align: center;
                font-size: 26px;
                color: #d1d1d1;
            }
            form{
                .form-title{
                    font-size: 30px;
                    color: #333;
                    text-align: center;
                    line-height: 84px;
                    background-color: #f5f5f5;
                    border-bottom: 1px solid #e1e1e1;
                }
                .table-list{
                    width: 100%;
                    .table-tab{
                        width: 100%;
                        height: 82px;
                        background-color: #f5f5f5;
                        font-size: 30px;
                        color: #333;
                       .th{
                        padding:0 17px;
                            text-align: center;
                       } 
                      
                    }
                    .td{
                        padding:0 17px;
                        text-align: center;
                   }
                }
                

            }
            &:selected{
                display: block;
            }
        }
        .main-no-num{
            display: none;
            margin-top: 194px;
            text-align: center;
            .no-num{
                width: 159px;
                height: 159px;
            }
            .no-num-title{
                font-size: 32px;
                color: #d1d1d1;
                margin-top: 24px;
            }

        }
    } 
   
     
  } 