* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 22px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  outline: none;
  border: none;
}

input::placeholder {
  color: #d1d1d1;
}

#container {
  height: 100vh;
}

.base.nav-bar {
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
}

.base.nav-bar .link-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d1d1d1;
}

.base.nav-bar .link-btn .nav-icon {
  height: 46px;
  margin-bottom: 4px;
}

.base.nav-bar .link-btn.active {
  color: #70a8f9;
}

.base.search-box {
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  width: 690px;
  height: 74px;
  border-radius: 4px;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  padding-left: 90px;
  background: #fff url(../images/icons/find.png) no-repeat 34px center/30px 30px;
}

.base.search-box .input {
  height: 100%;
  font-size: 30px;
  width: 100%;
}

.base.search-box .input::placeholder {
  color: #d1d1d1;
}

.base.right-nav {
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 99999;
}

.base.right-nav .item {
  width: 86px;
  height: 86px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
}

.base.right-nav .item .icon-img {
  width: 38px;
}

.office-index .nav-list .link-btn {
  line-height: 40px;
  display: block;
}

.office-ry .screen-popup {
  background: #fff;
  border-radius: 8px;
  width: 400px;
  height: 300px;
}

.office-ry .msg-box {
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 270px;
  background: #fff;
  border-radius: 4px;
  font-size: 26px;
  color: #333;
}

.office-ry .msg-box .title-t {
  padding: 22px 0 20px 18px;
}

.office-ry .msg-box .list {
  padding: 0 30px;
}

.office-ry .msg-box .list .item {
  margin-bottom: 30px;
  line-height: 30px;
}

.screen-ry {
  padding: 20px 30px 0;
}

.screen-ry .right-nav {
  top: 0;
}

.screen-ry .search-box {
  height: 74px;
  margin-bottom: 20px;
}

.screen-ry .search-box .input {
  width: 60%;
  height: 100%;
  border-radius: 8px;
  padding-left: 80px;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  font-size: 30px;
  background: #fff url(../images/icons/find.png) no-repeat 24px center/30px 30px;
}

.screen-ry .search-box .select-btn {
  display: inline-block;
  height: 100%;
  line-height: 74px;
  font-size: 30px;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  border-radius: 8px;
  padding: 0 35px;
  margin-left: 15px;
}

.screen-ry .table-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.screen-ry .table-box {
  width: 100%;
  text-align: center;
}

.screen-ry .table-box th,
.screen-ry .table-box td {
  font-size: 26px;
  width: 25%;
  height: 72px;
  border: 1px solid #f3f5ff;
}

.screen-ry .table-box th {
  background: #f4f6f7;
}

.screen-ry .table-box tr:nth-child(odd) {
  background: #f3f8ff;
}

.office-trajectory .top-bar {
  height: 120px;
  background: #fff;
}

.office-trajectory .list-box .item {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #e7e7e7;
}

.office-trajectory .list-box .item .link-item {
  font-size: 32px;
  height: 100%;
  display: block;
  padding: 0 30px;
}
