* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 22px;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

ul,
ol {
  list-style: none;
}

input,
textarea {
  outline: none;
  border: none;
}

input::placeholder {
  color: #d1d1d1;
}

#container {
  height: 100vh;
}

.base.nav-bar {
  height: 100px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  display: flex;
  align-items: center;
  padding-bottom: env(safe-area-inset-bottom);
}

.base.nav-bar .link-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d1d1d1;
}

.base.nav-bar .link-btn .nav-icon {
  height: 46px;
  margin-bottom: 4px;
}

.base.nav-bar .link-btn.active {
  color: #70a8f9;
}

.base.search-box {
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  width: 690px;
  height: 74px;
  border-radius: 4px;
  position: fixed;
  z-index: 9999;
  left: 0;
  right: 0;
  margin: auto;
  top: 20px;
  padding-left: 90px;
  background: #fff url(../images/icons/find.png) no-repeat 34px center/30px 30px;
}

.base.search-box .input {
  height: 100%;
  font-size: 30px;
  width: 100%;
}

.base.search-box .input::placeholder {
  color: #d1d1d1;
}

.base.right-nav {
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 99999;
}

.base.right-nav .item {
  width: 86px;
  height: 86px;
  border-radius: 8px;
  background: #fff;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
}

.base.right-nav .item .icon-img {
  width: 38px;
}

.office-index .nav-list .link-btn {
  line-height: 40px;
  display: block;
}

.office-ry .screen-popup {
  background: #fff;
  border-radius: 8px;
  width: 400px;
  height: 300px;
}

.office-ry .msg-box {
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 270px;
  background: #fff;
  border-radius: 4px;
  font-size: 26px;
  color: #333;
}

.office-ry .msg-box .title-t {
  padding: 22px 0 20px 18px;
}

.office-ry .msg-box .list {
  padding: 0 30px;
}

.office-ry .msg-box .list .item {
  margin-bottom: 30px;
  line-height: 30px;
}

.screen-ry {
  padding: 20px 30px 0;
}

.screen-ry .right-nav {
  top: 0;
}

.screen-ry .search-box {
  height: 74px;
  margin-bottom: 20px;
}

.screen-ry .search-box .input {
  width: 60%;
  height: 100%;
  border-radius: 8px;
  padding-left: 80px;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  font-size: 30px;
  background: #fff url(../images/icons/find.png) no-repeat 24px center/30px 30px;
}

.screen-ry .search-box .select-btn {
  display: inline-block;
  height: 100%;
  line-height: 74px;
  font-size: 30px;
  box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
  border-radius: 8px;
  padding: 0 35px;
  margin-left: 15px;
}

.screen-ry .table-title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
}

.screen-ry .table-box {
  width: 100%;
  text-align: center;
}

.screen-ry .table-box th,
.screen-ry .table-box td {
  font-size: 26px;
  width: 25%;
  height: 72px;
  border: 1px solid #f3f5ff;
}

.screen-ry .table-box th {
  background: #f4f6f7;
}

.screen-ry .table-box tr:nth-child(odd) {
  background: #f3f8ff;
}

.office-trajectory .top-bar {
  height: 120px;
  background: #fff;
}

.office-trajectory .list-box .item {
  height: 90px;
  line-height: 90px;
  border-bottom: 1px solid #e7e7e7;
}

.office-trajectory .list-box .item .link-item {
  font-size: 32px;
  height: 100%;
  display: block;
  padding: 0 30px;
}

.check-index .link-btn {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 120px;
  margin: auto;
  font-size: 32px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  width: 200px;
  border-radius: 8px;
  background: #5cacfe;
}

.real-time .tab {
  background-color: #fff;
  height: 82px;
  line-height: 82px;
  box-shadow: 0px 0px 10px 0px #e1e7f0;
}

.real-time .tab .tab-item {
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  color: #d1d1d1;
  margin-right: 30px;
}

.real-time .tab .tab-item:last-child {
  margin-right: 0;
}

.real-time .tab .tab-item:first-child {
  padding-left: 30px;
}

.real-time .tab .tab-item.active {
  color: #70a8f9;
}

.real-time .tab .tab-item .border-active {
  margin: -10px auto 0;
  width: 30px;
  height: 2px;
  background: #70a8f9;
  opacity: 0;
}

.real-time .tab .tab-item .border-active.active {
  opacity: 1;
}

.real-time .products .main-cont {
  display: none;
  width: 100%;
  overflow: auto;
}

.real-time .products .main-cont .main-time {
  height: 82px;
  line-height: 82px;
  text-align: center;
  font-size: 26px;
  color: #d1d1d1;
}

.real-time .products .main-cont form .form-title {
  font-size: 30px;
  color: #333;
  text-align: center;
  line-height: 84px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
}

.real-time .products .main-cont form .table-list-scroll {
  width: 100%;
}

.real-time .products .main-cont form .table-list-scroll .table-list {
  width: auto;
  display: -webkit-box;
  overflow-x: scroll;
  white-space: nowrap;
}

.real-time .products .main-cont form .table-list-scroll .table-list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.real-time .products .main-cont form .table-list-scroll .table-list .form-title {
  font-size: 30px;
  color: #333;
  text-align: center;
  line-height: 84px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
}

.real-time .products .main-cont form .table-list-scroll .table-list .form-title .name-sw {
  width: 50%;
}

.real-time .products .main-cont form .table-list-scroll .table-list .form-title .name-jsl {
  width: 50%;
}

.real-time .products .main-cont form .table-list-scroll .table-list tr:nth-child(even) {
  background-color: #e5e9ec;
}

.real-time .products .main-cont form .table-list-scroll .table-list .table-tab {
  height: 82px;
  background-color: #f5f5f5;
  font-size: 30px;
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
}

.real-time .products .main-cont form .table-list-scroll .table-list .table-tab .th {
  text-align: center;
  padding: 0 20px;
}

.real-time .products .main-cont form .table-list-scroll .table-list .td {
  padding: 0 20px;
  text-align: center;
  height: 82px;
  font-size: 26px;
}

.real-time .products .main-no-num {
  display: none;
  margin-top: 194px;
  text-align: center;
}

.real-time .products .main-no-num .no-num {
  width: 159px;
  height: 159px;
}

.real-time .products .main-no-num .no-num-title {
  font-size: 32px;
  color: #d1d1d1;
  margin-top: 24px;
}

.real-time .products.selected {
  display: block;
}

.real-time .foot-filter {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.real-time .foot-filter .follow-btn {
  display: inline-block;
  margin-right: 24px;
  width: 172px;
  height: 72px;
  font-size: 34px;
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 72px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #e1e7f0;
}

.real-time .foot-filter .follow-btn.active {
  color: #fff;
  background-color: #70a8f9;
}

.real-time .foot-filter .follow-btn:last-child {
  margin-right: 0;
}

.gate-pump .tab {
  background-color: #fff;
  height: 82px;
  line-height: 82px;
  box-shadow: 0px 0px 10px 0px #e1e7f0;
}

.gate-pump .tab .tab-item {
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  color: #d1d1d1;
  margin-right: 30px;
}

.gate-pump .tab .tab-item:last-child {
  margin-right: 0;
}

.gate-pump .tab .tab-item:first-child {
  padding-left: 30px;
}

.gate-pump .tab .tab-item.active {
  color: #70a8f9;
}

.gate-pump .tab .tab-item .border-active {
  margin: -10px auto 0;
  width: 30px;
  height: 2px;
  background: #70a8f9;
  opacity: 0;
}

.gate-pump .tab .tab-item .border-active.active {
  opacity: 1;
}

.gate-pump .products .main-cont {
  display: none;
  width: 100%;
  overflow: auto;
}

.gate-pump .products .main-cont .main-time {
  height: 82px;
  line-height: 82px;
  text-align: center;
  font-size: 26px;
  color: #d1d1d1;
}

.gate-pump .products .main-cont form .table-list-scroll {
  width: 100%;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list {
  width: auto;
  display: -webkit-box;
  overflow-x: scroll;
  white-space: nowrap;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .form-title {
  font-size: 30px;
  color: #333;
  text-align: center;
  line-height: 84px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #e1e1e1;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .form-title .name-sw {
  width: 50%;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .form-title .name-jsl {
  width: 50%;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list tr:nth-child(even) {
  background-color: #e5e9ec;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .table-tab {
  height: 82px;
  background-color: #f5f5f5;
  font-size: 30px;
  color: #333;
  border-collapse: collapse;
  border-spacing: 0;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .table-tab .th {
  text-align: center;
  padding: 0 20px;
}

.gate-pump .products .main-cont form .table-list-scroll .table-list .td {
  padding: 0 20px;
  text-align: center;
  height: 82px;
  font-size: 26px;
}

.gate-pump .products .main-no-num {
  display: none;
  margin-top: 194px;
  text-align: center;
}

.gate-pump .products .main-no-num .no-num {
  width: 159px;
  height: 159px;
}

.gate-pump .products .main-no-num .no-num-title {
  font-size: 32px;
  color: #d1d1d1;
  margin-top: 24px;
}

.gate-pump .products.selected {
  display: block;
}

.gate-pump .foot-filter {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.gate-pump .foot-filter .follow-btn {
  display: inline-block;
  margin-right: 24px;
  width: 172px;
  height: 72px;
  font-size: 34px;
  background-color: #fff;
  color: #333;
  text-align: center;
  line-height: 72px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px #e1e7f0;
}

.gate-pump .foot-filter .follow-btn.active {
  color: #fff;
  background-color: #70a8f9;
}

.gate-pump .foot-filter .follow-btn:last-child {
  margin-right: 0;
}

.basic-details .tab {
  height: 100px;
  line-height: 100px;
  background: white;
  box-shadow: 0px 6px 8px 0px rgba(130, 130, 130, 0.06);
}

.basic-details .tab .tab-item {
  width: 49%;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 32px;
  color: #d1d1d1;
}

.basic-details .tab .tab-item.active {
  color: #70a8f9;
}

.basic-details .tab .tab-item .border-active {
  margin: -10px auto 0;
  width: 30px;
  height: 2px;
  background: #70a8f9;
  opacity: 0;
}

.basic-details .tab .tab-item .border-active.active {
  opacity: 1;
}

.basic-details .products .main-cont {
  display: none;
  width: 100%;
  overflow: auto;
}

.basic-details .products .main-cont .main-title {
  height: 90px;
  margin-left: 30px;
  line-height: 90px;
  font-size: 28px;
  font-weight: 400;
  color: #333333;
  border-bottom: 1px solid #E5E5E5;
}

.basic-details .products .main-cont .pad {
  padding: 0 30px;
}

.basic-details .products .main-cont .pad .main-h2 {
  font-size: 32px;
  text-align: center;
  font-weight: 400;
  margin-top: 27px;
  color: #333333;
}

.basic-details .products .main-cont .pad .main-detail {
  margin-top: 20px;
  font-size: 26px;
  text-align: center;
  font-weight: 400;
  color: #ababab;
}

.basic-details .products .main-cont .pad .main-img-box {
  margin-top: 28px;
}

.basic-details .products .main-cont .pad .main-img-box .main-img {
  display: inline-block;
  width: 690px;
  height: 395px;
  background-color: #ff00ff;
}

.basic-details .products .main-cont .pad .main-img-box .main-img-detail {
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.basic-details .products .main-cont .pad .main-img-box .main-img-detail .main-name {
  font-size: 26px;
  font-weight: 400;
  color: #333333;
}

.basic-details .products .main-cont .pad p {
  height: 72px;
  line-height: 72px;
  overflow: hidden;
  font-style: 28px;
  font-weight: 400;
  color: #ababab;
}

.basic-details .products .main-cont .pad p .new-level {
  float: left;
}

.basic-details .products .main-cont .pad p .level-time {
  float: right;
}

.basic-details .products .main-cont .pad table tr {
  height: 84px;
  line-height: 84px;
  text-align: center;
}

.basic-details .products .main-cont .pad table tr th {
  padding: 0 47px;
}

.basic-details .products .main-cont .pad table tr:first-child {
  background: #f7f7f7;
  font-size: 30px;
  font-weight: 400;
  color: #333333;
}

.basic-details .products .main-cont .pad table tr td {
  padding: 0 50px;
  font-size: 26px;
  font-weight: 400;
  color: #333333;
}

.basic-details .products .main-cont .pad table tr:nth-child(odd) {
  background-color: #F8F9FE;
}

.basic-details .products.selected {
  display: block;
}

.office-weather .right-nav {
  right: 10px;
}

.office-weather .right-nav .item {
  display: flex;
  flex-direction: column;
}

.office-weather .right-nav .item.active {
  color: #70a8f9;
}
