* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,
body {
    font-size: 22px;
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

ul,
ol {
    list-style: none;
}

input,
textarea {
    outline: none;
    border: none;
}

input {
    &::placeholder {
        color: #d1d1d1;
    }
}

#container {
    height: 100vh;
}

.base {
    &.nav-bar {
        height: 100px;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        display: flex;
        align-items: center;
        padding-bottom: env(safe-area-inset-bottom);
        z-index: 1111111;

        .link-btn {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #d1d1d1;

            .nav-icon {
                height: 46px;
                margin-bottom: 4px;
            }

            &.active {
                color: #70a8f9;
            }
        }
    }

    &.search-box {
        box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);
        width: 690px;
        height: 74px;
        border-radius: 8px;
        position: fixed;
        z-index: 9999;
        left: 0;
        right: 0;
        margin: auto;
        top: 20px;
        padding-left: 90px;
        background: #fff url(../images/icons/find.png) no-repeat 34px center /30px 30px;
        overflow: hidden;

        .input {
            height: 100%;
            font-size: 30px;
            width: 100%;

            &::placeholder {
                color: #d1d1d1;
            }
        }
    }

    &.null-box {
        width: 200px;
        height: 220px;
        position: relative;
        top: 22vh;
        left: 0;
        right: 0;
        margin: auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #D1D1D1;
        font-size: 28px;
        background: url(../images/null.png) no-repeat center top /160px 160px;
    }

    &.right-nav {
        position: fixed;
        right: 0;
        top: 70px;
        z-index: 99999;

        .item {
            width: 86px;
            height: 86px;
            border-radius: 8px;
            background: #fff;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 0px 6px rgba(130, 130, 130, 0.2);

            .icon-img {
                width: 38px;
            }

        }
    }

    &.center-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 12px;
        background: #fff;
        padding: 26px 24px;
        font-size: 26px;
        width: 514px;
    }
}

.office-index {
    .nav-list {
        .link-btn {
            line-height: 40px;
            display: block;
        }
    }
}
// 车辆列表
.vehicle-list{
    .infor-content{
        margin-top: 100px;
        .vehicle-infor{
            border-bottom:1px solid #E5E5E5;
            .pad{
                padding: 20px 30px 0;
                .infor-con{
                    height:32px;
                    font-size:32px;
                    font-weight:400;
                    color:rgba(51,51,51,1);
                    margin-bottom: 20px;
                    
                }
            }
        }
    }
    
}
// 巡查记录
.patrol-record{
    .pad{
        padding: 30px;
        .abnormal-title{
            height:33px;
            font-size:34px;
            margin-bottom: 20px;
            font-weight:400;
            color:rgba(51,51,51,1);
        }
        .abnormal-list{
            .item{
                margin-bottom: 20px;
                width:690px;
                height:70px;
                border:1px solid rgba(213,213,213,1);
                border-radius:8px;
                font-size:30px;
                font-weight:400;
                line-height: 70px;
                color:rgba(51,51,51,1);
                text-align: center;
                &.active{
                    background:rgba(112,168,249,1);
                    color: #fff;
                }
            }
        }
        textarea{
            width:690px;
            height:180px;
            border:1px solid rgba(213,213,213,1);
            border-radius:8px;
            font-size:30px;
            font-weight:400;
            color:rgba(209,209,209,1);
            padding: 20px;
            margin-bottom: 20px;
        }
        .file{
            width:156px;
            height:156px;
            background:rgba(255,255,255,1);
            border-radius:8px;
            position: relative;
            .img-file{
                width: 128px;
                height: 128px;
                margin: 20px 0 0 20px;
            }
            input{
                width:156px;
                height:156px;
                opacity:0;
                filter:alpha(opacity=0);
                position:absolute;
                left:0;
                top:0;
            }
        }
        .time{
            margin-top: 50px;
            height:34px;
            font-size:36px;
            font-weight:bold;
            color:rgba(51,51,51,1);
            text-align: center;
        }
        p{
            margin-top:40px;
            text-align: center;
            .btn{
                width:172px;
                height:72px;
                line-height: 72px;
                background:rgba(112,168,249,1);
                border-radius:8px;
                font-size:34px;
                text-align: center;
                font-weight:400;
                color:rgba(255,255,255,1);
            }
        }
        

    }
    .mask-box {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: #000;
        opacity: .5;
        z-index: 22222;
        display: none;
    }

    .msg-popup {
        position: fixed;
        z-index: 111111;
        width:260px;
        height:260px;
        border-radius:12px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 28px;
        background: #fff;
        padding: 40px 30px 0;
        font-size: 28px;
        color: #333;
        display: none;
        text-align: center;
        .img{
            width: 64px;
            height: 64px;
            margin-top: 20px;

        }
        .up{
            text-align: center;
            height:34px;
            font-size:36px;
            margin-top: 28px;
            font-weight:bold;
            color:rgba(112,168,249,1);
        }
    }
}
